# Created by .ignore support plugin (hsz.mobi)
target/*
.idea/workspace.xml
devDb.h2.db
devDb.lock.d
OkyLifeApi.iml
application.properties
/devDb.lock.db
/OkyLifeApi.iml
/OkyLifeApi-grailsPlugins.iml
/.idea
/devDb.h2.db